* {
  margin: 0;
  padding: 0;
  font-family: Noto Serif KR;
  font-size: 600;
}
.wrapper{
  position: relative;
}
.menu-bar{
  display: block;
  position: absolute;
}
.menu-bar .fas {
  position: relative;
  z-index:500;
  font-size:3rem;
}

.wrapper .btnMenu{
  position: absolute;
  width:150px;
}
/* icon */

.main-menu{
  position: relative;
}
.main-menu .home{
  z-index:1;
  position: absolute;
}
.main-menu .interior{
  z-index:2;
  position: absolute;
}
.main-menu .furniture{
  z-index:3;
  position: absolute;
}